<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body { background: #000; color: #f1c40f; font-family: sans-serif; text-align: center; }
        .id-badge { background: #111; padding: 10px; border-radius: 10px; display: inline-block; margin-top: 20px; border: 1px solid #333; }
        .diamond { width: 200px; margin-top: 50px; cursor: pointer; }
    </style>
</head>
<body>

<div class="id-badge">🆔 ШУМО: <span id="my-id">ID-000001</span></div>

<div style="margin-top: 40px;">
    <h1 id="score">0.00</h1>
    <p>КРИСТАЛҲОИ МАЙНИНГ</p>
</div>

<img src="https://img.icons8.com/clouds/200/diamond.png" class="diamond" onclick="mine()">



<script>
    let s = 0;
    function mine() {
        s += 0.05;
        document.getElementById('score').innerText = s.toFixed(2);
        if (window.Telegram && window.Telegram.WebApp) {
            window.Telegram.WebApp.HapticFeedback.impactOccurred('light');
        }
    }
</script>

</body>
</html>
